# image files
*.png
*.jpg
*.jpeg

# do not ignore images directory
!images/*
!big_data/images/*

# visual studio code
.vscode
.vscode/

# pytorch
*.pth
*.pt
*.keras
*.out.tfevents.*.*

# python
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# jupyter notebook
.ipynb_checkpoints

# data
data/
